.custom-shape-divider-top-1704368323 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1704368323 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 141px;
}

.custom-shape-divider-top-1704368323 .shape-fill {
    fill: #0a3f3d;
}


.name {
    --color1: #1a8516;
    --color2: #236b19;
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(var(--color1), var(--color2));
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 10px 10px #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.name::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: var(--color2);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.name::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: var(--color1);
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.name:hover {
    transform: rotateX(30deg) rotateZ(0);
}

@media screen and (max-width: 767px) {
    .name {
        font-size: 16px;
        padding: 0.5em 0.8em;
    }
}

.btnn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.btnn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
}

.btnn:hover {
    color: #fff;
    transition-delay: 0.5s;
}

.btnn:hover::before {
    width: 100%;
}

.btnn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
}

.btnn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}